* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #130404;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: #003366;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #003366;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="tel"]:invalid {
    border-color: red;
}

input[type="file"]:invalid {
    border-color: red;
}

.input-hint {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.signup-btn {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #005f87;
}

.help-text {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.help-text a {
    color: #0077b6;
    text-decoration: none;
}

.help-text a:hover {
    text-decoration: underline;
}
